button.btn{
    margin-left: 170px;
    border: 2px solid black;
    padding: 4px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Bree Serif',serif;
    font-weight: bold;
}
body {

background-image: url("female-1300399_1280.png");
background-size: cover;
background-color: rgb(230, 229, 229);
/* color: azure; */
}
.form{
    color: azure;
    font-size: large;
}
input{
    margin-left: 25px;
    border: 2px solid black;
    padding: 4px 14px;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Bree Serif',serif;
    font-weight: bold;
}